.profile__text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
    margin-left: 31px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 318px;
}

@media only screen and (max-width: 610px) {
    .profile__text {
        margin-bottom: 36px;
       }
  }

@media only screen and (max-width: 460px) {
    .profile__text {
        text-align: center;
        font-size: 14px;
        line-height: 17px;
        max-width: 280px;
        margin-left: 20px;
       }
  }