.element__like {
    background-image: url(../../../images/like.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    padding: 0;
    width: 21px;
    height: 19px;
    cursor: pointer;
    background-color: #FFFFFF;
    box-shadow: none;
}


.element__like:hover {
    opacity: 0.6;
}
.element__like_active {
  background: url(../../../images/heart-filled.svg) center no-repeat;
}