.footer__text {
    max-width: 318px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin-top: 0;
    margin-bottom: 60px;

}
@media (max-width: 500px) {
    .footer__text {
        font-size: 14px;
        line-height: 17px;
        max-width: 282px;
    }
}
